In [1]:
import pandas as pd
import numpy as np
import pickle
import os, sys
import re
import glob

#
import pathmagic
import initialise as init

In [2]:
pd.set_option('display.max_columns', 100)

### Accident data

In [75]:
# load data
# all_files = glob.glob(init.raw_path + "/road_safety_data/dft-road-casualty-statistics-accident-2021.csv")

# acc_files = [pd.read_csv(file) for file in all_files] 

# df_acc = pd.concat(acc_files)

# this file has lsoa
df_acc = pd.read_csv(init.raw_path + "/road_safety_data/dft-road-casualty-statistics-accident-1979-2021.csv")

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2,15,16,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
df_acc['accident_year'].value_counts()

1989    260759
1990    258441
1982    256007
1979    254967
1984    253183
1980    250958
1981    248276
1986    247878
1988    246994
1985    245645
1983    242876
1997    240287
1987    239063
1998    238923
1996    236193
1991    235889
1999    235048
1994    234254
2000    233729
1992    233104
1995    230544
2001    229014
1993    228975
2002    221751
2003    214030
2004    207410
2005    198735
2006    189161
2007    182115
2008    170591
2009    163554
2010    154414
2011    151474
2014    146322
2012    145571
2015    140056
2013    138660
2016    136621
2017    129982
2018    122635
2019    117536
2021    101087
2020     91199
Name: accident_year, dtype: int64

In [77]:
# check if missings (and if all in same year - file)
df_acc[df_acc.isna().any(axis =1)].groupby('accident_year')['accident_index'].count()

accident_year
1979    254967
1980    250958
1981    248276
1982    256007
1983    242876
1984    253183
1985    245645
1986    247878
1987    239063
1988    246994
1989    260759
1990    258441
1991    235889
1992    233104
1993    228975
1994    234254
1995    230544
1996    236193
1997    240287
1998    238923
1999      1368
2000       881
2001       801
2002       465
2003       270
2004       130
2005        69
2006        17
2007        15
2008        10
2015        27
2016        44
2017        29
2018        55
2019        28
2020        14
2021        17
Name: accident_index, dtype: int64

* 8 missings area high for <= 1998
* decide range to use (probably >2012)

In [78]:
df_acc.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,197901A11AD14,1979,01A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,5,08:00,11,-1,-1,3,4,1,30.0,1,4,-1,-1,-1,-1,1,8,1,-1,0,-1,-1,-1,-1
1,197901A1BAW34,1979,01A1BAW34,198460.0,894000.0,NaN,NaN,1,3,1,1,01/01/1979,2,01:00,23,-1,-1,6,0,9,30.0,3,4,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,-1,-1
2,197901A1BFD77,1979,01A1BFD77,406380.0,307000.0,NaN,NaN,1,3,2,3,01/01/1979,2,01:25,17,-1,-1,3,112,9,30.0,6,4,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,-1,-1
3,197901A1BGC20,1979,01A1BGC20,281680.0,440000.0,NaN,NaN,1,3,2,2,01/01/1979,2,01:30,2,-1,-1,3,502,12,30.0,3,2,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,-1,-1
4,197901A1BGF95,1979,01A1BGF95,153960.0,795000.0,NaN,NaN,1,2,2,1,01/01/1979,2,01:30,510,-1,-1,3,309,6,30.0,0,-1,-1,-1,-1,-1,4,3,3,-1,0,-1,-1,-1,-1

* overall index col: accident_index
* area key col: lsoa_of_accident_location

### Casualty data

In [72]:
# load data
# all_files = glob.glob(init.raw_path + "/road_safety_data/dft-road-casualty-statistics-casualty-*.csv")

# cas_files = [pd.read_csv(file) for file in all_files] 

# df_cas = pd.concat(cas_files)

# this file has lsoa for all years
df_cas = pd.read_csv(init.raw_path + "/road_safety_data/dft-road-casualty-statistics-casualty-1979-2021.csv")

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
# check if missings (and if all in same year - file)
df_cas[df_cas.isna().any(axis =1)].groupby('accident_year')['accident_index'].count()

Series([], Name: accident_index, dtype: int64)

In [80]:
df_cas['lsoa_of_casualty'] = df_cas['lsoa_of_casualty'].astype(str)
df_cas['lsoa_of_casualty_missing'] = np.where(df_cas['lsoa_of_casualty'] == '-1', 1, 0)

df_cas[['accident_year','lsoa_of_casualty_missing']].groupby('accident_year').mean()

               lsoa_of_casualty_missing
accident_year
1979                           1.000000
1980                           1.000000
1981                           1.000000
1982                           1.000000
1983                           1.000000
1984                           1.000000
1985                           1.000000
1986                           1.000000
1987                           1.000000
1988                           1.000000
1989                           1.000000
1990                           1.000000
1991                           1.000000
1992                           1.000000
1993                           1.000000
1994                           1.000000
1995                           1.000000
1996                           1.000000
1997                           1.000000
1998                           1.000000
1999                           0.616265
2000                           0.522938
2001                           0.480076
2002                           0.476585
2003                           0.468426
2004                           0.387167
2005                           0.265482
2006                           0.239385
2007                           0.213367
2008                           0.221104
2009                           0.193872
2010                           0.173896
2011                           0.171316
2012                           0.171451
2013                           0.170545
2014                           0.163737
2015                           0.166207
2016                           0.176642
2017                           0.265648
2018                           0.142531
2019                           1.000000
2020                           0.132579
2021                           0.131855

In [74]:
df_cas.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,197901A11AD14,1979,01A11AD14,2,1,1,1,-1,-1,3,0,0,0,0,-1,104,-1,-1,-1
1,197901A1BAW34,1979,01A1BAW34,1,1,3,2,27,6,3,10,5,0,0,-1,0,-1,-1,-1
2,197901A1BFD77,1979,01A1BFD77,1,1,1,1,21,5,3,0,0,0,0,-1,109,-1,-1,-1
3,197901A1BFD77,1979,01A1BFD77,1,2,2,1,20,4,3,0,0,1,0,-1,109,-1,-1,-1
4,197901A1BFD77,1979,01A1BFD77,2,3,1,1,35,6,3,0,0,0,0,-1,109,-1,-1,-1

* x rows per accidentr_index for each casualty (reference)
* merge on casualty file by accident_index
* ~20% lsoa known for years > 2012 excl 2019: can fill with accident lsoa if missing?

### Vehicle data

In [69]:
# load data
# all_files = glob.glob(init.raw_path + "/road_safety_data/dft-road-casualty-statistics-vehicle-2021.csv")

# veh_files = [pd.read_csv(file) for file in all_files] 

# df_veh = pd.concat(veh_files)

df_veh = pd.read_csv(init.raw_path + "/road_safety_data/dft-road-casualty-statistics-vehicle-1979-2021.csv")

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2,24,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
# check if missings (and if all in same year - file)
df_veh[df_veh.isna().any(axis =1)].groupby('accident_year')['accident_index'].count()

Series([], Name: accident_index, dtype: int64)

In [71]:
df_veh.head()

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,hit_object_off_carriageway,first_point_of_impact,vehicle_left_hand_drive,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,197901A11AD14,1979,01A11AD14,1,109,0,18,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,44,7,-1,-1,-1,-1,-1,-1,-1
1,197901A11AD14,1979,01A11AD14,2,104,0,13,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,197901A1BAW34,1979,01A1BAW34,1,109,0,18,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,197901A1BFD77,1979,01A1BFD77,1,109,0,18,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,1,21,5,-1,-1,-1,-1,-1,-1,-1
4,197901A1BFD77,1979,01A1BFD77,2,109,0,18,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,44,7,-1,-1,-1,-1,-1,-1,-1

In [79]:
df_veh['lsoa_of_driver'] = df_veh['lsoa_of_driver'].astype(str)
df_veh['lsoa_of_driver_missing'] = np.where(df_veh['lsoa_of_driver'] == '-1', 1, 0)

df_veh[['accident_year','lsoa_of_driver_missing']].groupby('accident_year').mean()

               lsoa_of_driver_missing
accident_year
1979                         1.000000
1980                         1.000000
1981                         1.000000
1982                         1.000000
1983                         1.000000
1984                         1.000000
1985                         1.000000
1986                         1.000000
1987                         1.000000
1988                         1.000000
1989                         1.000000
1990                         1.000000
1991                         1.000000
1992                         1.000000
1993                         1.000000
1994                         1.000000
1995                         1.000000
1996                         1.000000
1997                         1.000000
1998                         1.000000
1999                         0.581128
2000                         0.498841
2001                         0.461563
2002                         0.444117
2003                         0.428907
2004                         0.377407
2005                         0.293639
2006                         0.272419
2007                         0.249649
2008                         0.265058
2009                         0.236344
2010                         0.227842
2011                         0.229168
2012                         0.227993
2013                         0.230142
2014                         0.225772
2015                         1.000000
2016                         0.240800
2017                         0.333639
2018                         0.226550
2019                         0.976444
2020                         0.221521
2021                         0.223800

* x rows per accidentr_index for each vehicle (reference)
* merge on veh data by accident index
* ~20% lsoa known for years > 2012 excl 2019: can fill with accident lsoa if missing?

## combine data

In [41]:
master_df = pd.merge(left = df_acc.head(20), on = 'accident_index', right = df_veh.head(20), how = 'left')
master_df = pd.merge(left = master_df, on = 'accident_index', right = df_cas.head(20), how = 'left')

In [42]:
master_df.head()

,accident_index,accident_year_x,accident_reference_x,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location,accident_year_y,accident_reference_y,vehicle_reference_x,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,hit_object_off_carriageway,first_point_of_impact,vehicle_left_hand_drive,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,accident_year,accident_reference,vehicle_reference_y,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,2016010000005,2016,010000005,519310.0,188730.0,-0.279323,51.584754,1,3,2,1,01/11/2016,3,02:30,28,E09000005,E09000005,3,4006,6,30.0,0,-1,-1,-1,0,0,5,1,1,0,0,1,1,2,E01000543,2016.0,010000005,1.0,8.0,0.0,6.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0,51.0,8.0,-1.0,-1.0,-1.0,-1.0,3.0,1.0,2016.0,010000005,2.0,1.0,1.0,1.0,23.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0
1,2016010000005,2016,010000005,519310.0,188730.0,-0.279323,51.584754,1,3,2,1,01/11/2016,3,02:30,28,E09000005,E09000005,3,4006,6,30.0,0,-1,-1,-1,0,0,5,1,1,0,0,1,1,2,E01000543,2016.0,010000005,2.0,2.0,0.0,18.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,6.0,1.0,23.0,5.0,124.0,1.0,4.0,-1.0,4.0,1.0,2016.0,010000005,2.0,1.0,1.0,1.0,23.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0
2,2016010000006,2016,010000006,551920.0,174560.0,0.184928,51.449595,1,3,1,1,01/11/2016,3,00:37,18,E09000004,E09000004,3,207,6,30.0,9,4,6,0,0,0,4,1,1,0,0,1,1,2,E01000375,2016.0,010000006,1.0,9.0,0.0,18.0,5.0,1.0,0.0,2.0,2.0,10.0,1.0,0.0,4.0,1.0,6.0,2.0,36.0,7.0,1461.0,2.0,1.0,-1.0,10.0,1.0,2016.0,010000006,1.0,1.0,1.0,2.0,36.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,10.0
3,2016010000008,2016,010000008,505930.0,183850.0,-0.473837,51.543563,1,3,1,1,01/11/2016,3,01:25,26,E09000017,E09000017,3,4020,1,30.0,1,4,3,4020,0,0,4,1,1,0,0,1,1,2,E01033725,2016.0,010000008,1.0,9.0,0.0,18.0,1.0,8.0,0.0,4.0,5.0,0.0,0.0,0.0,1.0,1.0,6.0,1.0,24.0,5.0,1390.0,1.0,5.0,-1.0,8.0,1.0,2016.0,010000008,1.0,1.0,1.0,1.0,24.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,8.0
4,2016010000016,2016,010000016,527770.0,168930.0,-0.164442,51.404958,1,3,1,1,01/11/2016,3,09:15,22,E09000024,E09000024,3,217,6,30.0,3,2,3,217,0,0,1,1,1,0,0,1,1,2,E01003379,2016.0,010000016,1.0,11.0,0.0,18.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,55.0,8.0,6692.0,2.0,7.0,-1.0,9.0,1.0,2016.0,010000016,1.0,1.0,2.0,2.0,59.0,9.0,3.0,0.0,0.0,0.0,3.0,0.0,11.0,1.0,4.0
5,2016010000018,2016,010000018,510740.0,177230.0,-0.406580,51.483139,1,3,2,1,01/11/2016,3,07:53,25,E09000018,E09000018,3,312,3,40.0,0,-1,-1,-1,0,0,1,1,1,0,0,1,1,2,E01002583,2016.0,010000018,1.0,9.0,0.0,12.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,6.0,1.0,20.0,4.0,1596.0,1.0,11.0,-1.0,2.0,1.0,2016.0,010000018,2.0,1.0,1.0,1.0,28.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,6.0
6,2016010000018,2016,010000018,510740.0,177230.0,-0.406580,51.483139,1,3,2,1,01/11/2016,3,07:53,25,E09000018,E09000018,3,312,3,40.0,0,-1,-1,-1,0,0,1,1,1,0,0,1,1,2,E01002583,2016.0,010000018,2.0,1.0,0.0,18.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,6.0,1.0,28.0,6.0,-1.0,-1.0,-1.0,-1.0,6.0,1.0,2016.0,010000018,2.0,1.0,1.0,1.0,28.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,6.0
7,2016010000019,2016,010000019,530840.0,167100.0,-0.121004,51.387813,1,3,2,1,01/11/2016,3,09:29,20,E09000008,E09000008,3,23,6,30.0,3,4,6,0,0,8,1,1,1,0,0,1,1,2,E01001180,2016.0,010000019,1.0,9.0,0.0,18.0,1.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,1.0,6.0,2.0,30.0,6.0,1596.0,1.0,10.0,-1.0,3.0,1.0,2016.0,010000019,1.0,1.0,1.0,2.0,30.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,3.0
8,2016010000019,2016,010000019,530840.0,167100.0,-0.121004,51.387813,1,3,2,1,01/11/2016,3,09:29,20,E09000008,E09000008,3,23,6,30.0,3,4,6,0,0,8,1,1,1,0,0,1,1,2,E01001180,2016.0,010000019,2.0,9.0,0.0,18.0,1.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,6.0,1.0,27.0,6.0,1596.0,1.0,5.0,-1.0,2.0,1.0,2016.0,010000019,1.0,1.0,1.0,2.0,30.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,3.0
9,2016010000020,2016,010000020,527610.0,181430.0,-0.162234,51.517333,1,3,1,1,01/11/2016,3,08:53,1,E09000033,E09000033,5,0,6,30.0,0,-1,-1,-1,0,0,1,1,1,0,0,1,1,2,E01004658,2016.0,010000020,1.0,8.0,0.0,18.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,1.0,33.0,6.0,2499.0,2.0,2.0,-1.0,2.0,1.0,2016.0,010000020,1.0,1.0,3.0,2.0,33.0,6.0,3.0,5.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0
10,2016010000021,2016,010000021,523830.0,189460.0,-0.213859,51.590341,1,3,2,1,01/11/2016,3,10:05,30,E09000003,E09000003,3,504,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01000243,2016.0,010000021,1.0,9.0,0.0,9.0,1.0,7.0,0.0,6.0,0.0,0.0,0.0,0.0,1.0,2.0,6.0,1.0,25.0,5.0,-1.0,-1.0,-1.0,-1.0,4.0,1.0,2016.0,010000021,2.0,1.0,1.0,2.0,30.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,7.0
11,2016010000021,2016,010000021,523830.0,189460.0,-0.213859,51.590341,1,3,2,1,01/11/2016,3,10:05,30,E09000003,E09000003,3,504,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01000243,2016.0,010000021,2.0,9.0,0.0,18.0,7.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,1.0,6.0,2.0,30.0,6.0,1596.0,1.0,15.0,-1.0,7.0,1.0,2016.0,010000021,2.0,1.0,1.0,2.0,30.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,7.0
12,2016010000023,2016,010000023,524640.0,180620.0,-0.205302,51.510716,1,3,1,1,01/11/2016,3,09:51,12,E09000020,E09000020,4,450,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01002875,2016.0,010000023,1.0,4.0,0.0,9.0,4.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,6.0,1.0,21.0,5.0,-1.0,-1.0,-1.0,-1.0,7.0,1.0,2016.0,010000023,1.0,1.0,1.0,1.0,21.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,7.0
13,2016010000024,2016,010000024,540670.0,174700.0,0.023193,51.453758,1,3,2,1,01/11/2016,3,09:45,6,E09000011,E09000011,3,20,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01001658,2016.0,010000024,1.0,11.0,0.0,5.0,7.0,3.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,51.0,8.0,-1.0,-1.0,-1.0,-1.0,2.0,1.0,2016.0,010000024,1.0,1.0,2.0,2.0,7.0,2.0,3.0,0.0,0.0,0.0,4.0,0.0,11.0,-1.0,-1.0
14,2016010000024,2016,010000024,540670.0,174700.0,0.023193,51.453758,1,3,2,1,01/11/2016,3,09:45,6,E09000011,E09000011,3,20,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01001658,2016.0,010000024,2.0,9.0,0.0,13.0,7.0,3.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0,6.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2016.0,010000024,1.0,1.0,2.0,2.0,7.0,2.0,3.0,0.0,0.0,0.0,4.0,0.0,11.0,-1.0,-1.0
15,2016010000025,2016,010000025,528300.0,188290.0,-0.149795,51.578827,1,3,3,1,01/11/2016,3,09:50,31,E09000014,E09000014,3,1,6,30.0,9,4,6,0,0,0,1,1,1,4,0,1,1,2,E01002011,2016.0,010000025,1.0,19.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0,4.0,2.0,6.0,1.0,29.0,6.0,1461.0,2.0,3.0,-1.0,6.0,1.0,2016.0,010000025,3.0,1.0,1.0,1.0,36.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0
16,2016010000025,2016,010000025,528300.0,188290.0,-0.149795,51.578827,1,3,3,1,01/11/2016,3,09:50,31,E09000014,E09000014,3,1,6,30.0,9,4,6,0,0,0,1,1,1,4,0,1,1,2,E01002011,2016.0,010000025,2.0,19.0,0.0,3.0,4.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,1.0,31.0,6.0,1560.0,2.0,4.0,-1.0,1.0,1.0,2016.0,010000025,3.0,1.0,1.0,1.0,36.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0
17,2016010000025,2016,010000025,528300.0,188290.0,-0.149795,51.578827,1,3,3,1,01/11/2016,3,09:50,31,E09000014,E09000014,3,1,6,30.0,9,4,6,0,0,0,1,1,1,4,0,1,1,2,E01002011,2016.0,010000025,3.0,3.0,0.0,14.0,4.0,8.0,0.0,1.0,0.0,8.0,0.0,0.0,1.0,1.0,6.0,1.0,36.0,7.0,124.0,1.0,1.0,-1.0,2.0,1.0,2016.0,010000025,3.0,1.0,1.0,1.0,36.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0
18,2016010000028,2016,010000028,524180.0,196480.0,-0.206323,51.653353,1,3,1,1,01/11/2016,3,10:50,30,E09000003,E09000003,6,0,2,30.0,3,4,6,0,0,0,1,2,1,0,0,1,1,2,E01000248,2016.0,010000028,1.0,9.0,0.0,4.0,2.0,6.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,43.0,7.0,2143.0,2.0,2.0,-1.0,9.0,3.0,2016.0,010000028,1.0,1.0,3.0,1.0,53.0,8.0,3.0,8.0,3.0,0.0,0.0,2.0,0.0,1.0,6.0
19,2016010000031,2016,010000031,535890.0,181160.0,-0.043075,51.512977,1,3,2,1,01/11/2016,3,08:56,5,E09000030,E09000030,3,13,3,20.0,7,4,6,0,0,0,1,1,1,0,0,1,1,2,E01032769,2016.0,010000031,1.0,9.0,0.0,7.0,3.0,7.0,0.0,5.0,0.0,0.0,0.0,0.0,4.0,1.0,2.0,1.0,29.0,6.0,-1.0,-1.0,-1.0,-1.0,2.0,1.0,2016.0,010000031,1.0,1.0,1.0,1.0,29.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,2.0
20,2016010000033,2016,010000033,536290.0,166630.0,-0.042906,51.382307,1,2,1,1,01/11/2016,3,08:30,20,E09000008,E09000008,5,0,6,30.0,0,-1,-1,-1,0,0,1,7,1,0,0,1,1,2,E01001132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000033,1.0,1.0,3.0,1.0,11.0,3.0,2.0,5.0,3.0,0.0,0.0,2.0,0.0,1.0,9.0
21,2016010000035,2016,010000035,549000.0,182770.0,0.146399,51.524140,1,3,2,2,01/11/2016,3,09:50,16,E09000002,E09000002,6,0,6,30.0,9,4,6,0,0,0,1,1,1,0,0,1,1,2,E01000095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000035,1.0,1.0,1.0,1.0,30.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,1.0
22,2016010000035,2016,010000035,549000.0,182770.0,0.146399,51.524140,1,3,2,2,01/11/2016,3,09:50,16,E09000002,E09000002,6,0,6,30.0,9,4,6,0,0,0,1,1,1,0,0,1,1,2,E01000095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000035,2.0,2.0,1.0,1.0,62.0,9.0,3.0,0.0,0.0,0.0,0.0,0.0,19.0,1.0,6.0
23,2016010000039,2016,010000039,523320.0,184260.0,-0.223040,51.543719,1,3,2,1,01/11/2016,3,08:37,28,E09000005,E09000005,5,0,6,30.0,6,4,6,0,0,0,1,1,1,0,0,1,1,2,E01000489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000039,1.0,1.0,1.0,1.0,34.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,5.0
24,2016010000046,2016,010000046,527310.0,179690.0,-0.167183,51.501763,1,3,2,1,01/11/2016,3,11:00,1,E09000033,E09000033,3,315,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01004692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000046,1.0,1.0,1.0,1.0,20.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
25,2016010000047,2016,010000047,517500.0,170460.0,-0.311517,51.420929,1,3,1,1,01/11/2016,3,08:40,24,E09000027,E09000027,5,0,6,30.0,3,4,6,0,0,0,1,1,1,0,0,1,1,2,E01003837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000047,1.0,1.0,3.0,2.0,38.0,7.0,3.0,5.0,2.0,0.0,0.0,2.0,0.0,1.0,9.0
26,2016010000048,2016,010000048,516350.0,175710.0,-0.326324,51.468352,1,2,1,1,01/11/2016,3,07:10,25,E09000018,E09000018,3,3004,6,30.0,3,4,6,0,0,4,1,1,1,0,2,1,1,2,E01002667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,010000048,1.0,1.0,3.0,1.0,62.0,9.0,2.0,1.0,1.0,0.0,0.0,2.0,0.0,1.0,4.0
27,2016010000049,2016,010000049,513930.0,176600.0,-0.360863,51.476843,1,3,1,1,01/11/2016,3,13:10,25,E09000018,E09000018,4,363,6,30.0,2,4,5,0,0,8,1,1,1,0,0,1,1,2,E01002640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* multiple rows per accident if multiple vehicles or casualties.
* should therefore do preprocessing in pipeline and THEN merge together so have:
    * one row per driver (for wfh causation project)
    * one row per accident (for area groups project)

Gives us all accidents from 20x to 2021 with:
* accident info (when, where, why, situation)
* collision victim(s) information if any: who, age, civilian type etc
* vehicle(s) and driver(s) information if any: vehicle situation, type, driver info

* Census data: can be joined on by lsoa: get census data in lsoa granular format.
* Note that NEW LSOA and MSOA codes are created everytime there is a census (as conglomerations/splits of previous LSOA's)
    - so past LSOAs are not overwritten, but will likely not be used in new census
        - Therefore need to get LSOA/MSOA master file for all 2011 and new 2021 LSOAs

In [81]:
df_acc

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,197901A11AD14,1979,01A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,5,08:00,11,-1,-1,3,4,1,30.0,1,4,-1,-1,-1,-1,1,8,1,-1,0,-1,-1,-1,-1
1,197901A1BAW34,1979,01A1BAW34,198460.0,894000.0,NaN,NaN,1,3,1,1,01/01/1979,2,01:00,23,-1,-1,6,0,9,30.0,3,4,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,-1,-1
2,197901A1BFD77,1979,01A1BFD77,406380.0,307000.0,NaN,NaN,1,3,2,3,01/01/1979,2,01:25,17,-1,-1,3,112,9,30.0,6,4,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,-1,-1
3,197901A1BGC20,1979,01A1BGC20,281680.0,440000.0,NaN,NaN,1,3,2,2,01/01/1979,2,01:30,2,-1,-1,3,502,12,30.0,3,2,-1,-1,-1,-1,4,8,3,-1,0,-1,-1,-1,-1
4,197901A1BGF95,1979,01A1BGF95,153960.0,795000.0,NaN,NaN,1,2,2,1,01/01/1979,2,01:30,510,-1,-1,3,309,6,30.0,0,-1,-1,-1,-1,-1,4,3,3,-1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8703906,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20.0,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
8703907,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60.0,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
8703908,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60.0,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
8703909,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20.0,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
8703910,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60.0,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1